/*****RESET******/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/*****RESET - END******/
/*****RESET PROJECT******/
html, body {
  height: 100%;
}

.row, .columns {
  box-sizing: border-box;
}

.row:before, .row:after {
  content: " ";
  display: table;
}

.row:after {
  clear: both;
}

/*****RESET PROJECT - END******/
/*GLOBAL INDEPENDENTS*/
.float-right {
  float: right;
}

.margin-auto {
  margin-left: auto;
  margin-right: auto;
}

.fix-padding-0 {
  padding: 0 !important;
}

/*****GLOBAL INDEPENDENTS - END******/
/*body.wrapper*/
.wrapper {
  min-height: 79.6%;
  position: relative;
}

/*body.wrapper.layer-top.sub-top.website-developer*/
.website-developer p {
  font-size: 1.1449em;
  color: white;
  display: inline-block;
  font-family: brandon_grotesquemedium,arial,sans-serif;
  padding: 10px;
}

/*LAYER TOP*/
.layer-top {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}
.layer-top .sub-top {
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.background-top {
  background-color: black;
}

.height-top {
  height: 45px;
}

/*LAYER TOP - END*/
/*LAYER MENU*/
.layer-menu {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}
.layer-menu .sub-menu {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #0a070f;
  height: 174px;
}

.height-menu {
  height: 174px;
}

/*LAYER MENU*/
/*LAYER MENU - ELEMENTO H1*/
.layer-menu .sub-menu h1 {
  display: inline-block;
  font-family: brandon_grotesquemedium, arial, sans-serif;
  font-size: 1.65em;
  padding-top: 87px;
}

/*LAYER MENU - ELEMENTO H1 - END*/
/*PLUGIN MENU*/
/*body.wrapper.layer-menu.sub-menu header .menu*/
.menu {
  float: right;
  padding-top: 90px;
}

/*body.wrapper.layer-menu.sub-menu header .menu ul*/
.menu ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

/*body.wrapper.layer-menu.sub-menu header .menu ul li*/
.menu ul li {
  display: inline;
  font-family: "proxima_nova_alt_rgregular";
  font-size: 0.99em;
}

/*body.wrapper.layer-menu.sub-menu header .menu ul li a*/
.menu ul li a {
  padding: 2px 10px;
  display: inline-block;
  /* visual do link */
  color: #333;
  text-decoration: none;
}

/*body.wrapper.layer-menu.sub-menu header .menu ul li a:hover*/
.menu ul li a:hover {
  color: #6D6D6D;
}

/*PLUGIN MENU - END*/
/*LAYER CONTENT*/
.layer-content {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  min-height: 100%;
  position: relative;
}
.layer-content p {
  font-size: 1.05em;
}
.layer-content .sub-content {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
  width: 90%;
  font-family: "proxima_nova_alt_rgregular";
  font-size: 1.5em;
  /*14px(body) x 1.5em(.sub-content) = 21px, logo 1.5em = 21px*/
}

.height-content {
  height: 174px;
}

/*LAYER CONTENT*/
/*LAYER CONTENT - ELEMENTO H1*/
.layer-content .sub-content h1 {
  display: inline-block;
  font-family: brandon_grotesquemedium, arial, sans-serif;
  font-size: 2.7em;
  /*21px(.layer-content .sub-content) x 2.5em(.layer-content .sub-content h1) = 52.5px, logo 2.5em = 52.5px*/
  padding-bottom: 30px;
}

.article-content {
  position: relative;
  height: 100%;
  width: 100%;
  color: #555;
}

/*LAYER CONTENT - ELEMENTO H1 - END*/
/*SOCIAL MEDIA */
.social-media {
  padding-top: 110px;
}

.social-media ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.social-media ul li {
  display: inline;
  font-family: "proxima_nova_alt_rgregular";
  font-size: 0.7em;
}

.social-media ul li a {
  padding: 2px 10px;
  display: inline-block;
  /* visual do link */
  color: #333;
  text-decoration: none;
}

.social-media ul li a:hover {
  color: #6D6D6D;
}

/*SOCIAL MEDIA - END*/
/*LAYER FOOTER*/
.layer-footer {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  bottom: 0;
}
.layer-footer .sub-footer {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  border-top: 1px solid #0a070f;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
.layer-footer .sub-footer p {
  font-family: "proxima_nova_alt_rgregular";
  font-size: 1.05em;
  color: #555;
}

.height-footer {
  height: 174px;
}

/*LAYER FOOTER - END*/
/*LAYER BOTTOM*/
.layer-bottom {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}
.layer-bottom .sub-bottom {
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.background-bottom {
  background-color: #555;
}

.height-bottom {
  height: 60px;
}

.padding-bottom {
  padding: 7px;
}

/*LAYER BOTTOM - END*/
