/*SECTION CONTENT - MAIN ABOUT*/
#main-about .section-content .article-content ul li {
  list-style: none;
}

#main-about .section-content .article-content ul li p {
  float: left;
  left: 0;
  position: relative;
  width: 50%;
  text-align: justify;
}

#main-about .section-content .article-content ul li img {
  float: right;
  right: 0;
  position: relative;
  max-width: 400px;
  max-height: 300px;
}

/*SECTION CONTENT - MAIN ABOUT - END*/
